body{
    background-color: rgb(48, 48, 48);
    
}

input{
    border-radius: 20%;
}

#title_{
    text-align: center;
    -webkit-text-fill-color: rgb(20, 201, 233);
    
}

#hint{
    -webkit-text-fill-color: rgb(20, 201, 233);
}